{{ attach_library('prizma_login/prizma_login_styles') }}
<div class="custom-login-container">
    <h2 class="login-h2">Iniciar sesión o resetear password</h2>
    <div class="custom-login">
        {{ login_form }}
        {{ separator }}
        {{ password_form }}
    </div>
    <hr>
    <br>
</div>
