<div class="custom-password-container">
    <h2 class="login-h2">Cambiar contraseña</h2>
    <div class="custom-password">
        {{ form }}
    </div>

    <a href="prizma/login" class="webform-button--submit formulario-submit button button--primary js-form-submit form-submit" id="boton-custom-password">
        Ir a inicio de Sesión
    </a>
    <hr>
    <br>
</div>
