<div class="custom-login-container">
    <h2 class="login-h2">Iniciar sesión</h2>
    <div class="custom-login">
        {{ form }}
    </div>

    <a href="/prizma/password" class="webform-button--submit formulario-submit button button--primary js-form-submit form-submit" id="boton-custom-login">
        Ir a Resetear Password
    </a>
    <hr>
    <br>
</div>
